

.cuerpo {
    height: 800px;
    color:aliceblue;
    margin: 0;  
}



.cuerpo__titulos {
    display: grid;
    grid-template-areas:
    "titulo titulo titulo"
    "titulo2 titulo2 titulo4"
    "titulo3 titulo3 titulo4"
    "titulo5 titulo5 titulo5";
    grid-template-columns: 30vw 1fr 20vw;
    grid-template-rows: 20vh 200px 200px 20vh;
    
}




.cuerpo__titulo- {
    text-align: center;
    border: 5px solid #000000;
    background-color: #e5cfb6c7;
    font-size: 20px;
    padding: 4rem;
    grid-area: titulo;
}



.cuerpo__titulo2 {
   
    border: 5px solid #000000;
    font-size: 20px;
    background-color: #e5cfb6c7;
    padding: 3rem;
    text-align: center;
    grid-area: titulo2;
 
}

.cuerpo__titulo3 {
    
    border: 5px solid #000000;
    background-color: #e5cfb6c7;
    padding: 3rem;
    font-size: 20px;
    text-align: center;
    grid-area: titulo3;
   
}

.cuerpo__titulo4 {
    
    border: 5px solid #000000;
    background-color: #e5cfb6c7;
    padding: 3rem;
    font-size: 20px;
    text-align: center;
    grid-area: titulo4;
    overflow: auto;
    
}

.cuerpo__titulo5 {
    
    border: 5px solid #000000;
    background-color: #e5cfb6c7;
    padding: 3rem;
    font-size: 20px;
    text-align: center;
    grid-area: titulo5;
}



@media (min-width: 600px) and (max-width: 980px) {

    .menu {
        display: flex;
        
        height: 15rem;
        justify-content: center;
        align-items: center;
        
    }

    .menu__item {
        display: flex;
        justify-content:center;
        align-items: center;
      
    }

    .menu__fotoperfil {
        margin-bottom: 1rem;
        margin-top: 2rem;
        
    }

    .cuerpo__titulos {
        display:flex;
        flex-direction: column;
        margin-bottom: 5rem;
        align-items: center;
        justify-content: center;
       
    }
    

    .piedepagina {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .piedepagina__logo {
       
    }

    .piedepagina__formulario{
        opacity: 0;
    }

}

/* SOBRE MI */

.cuerpo__sobremi {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    color: black;
}

.cuerpo__encabezado {
    
}



.cuerpo__tituloplanes{
    margin: 100px 0px 0px 500px;
    font-size: 100px;

}



/* PLANES ENTRENAMIENTO */




@media (max-width: 980px) {
    .cuerpo-3 {
        display: flex;
        flex-direction: column;
        
    }

    .cuerpo__seccionplanes {
        
    }

    .cuerpo__seccionlista {
        display: flex;
        flex-direction: column;  
    }
}







/* ,@media screen and (min-width: 768px) {
    
    .cuerpo__titulos { grid-template-columns: repeat (2, 1fr);
    }
} */



@media screen and (max-width: 1050px) {
    .menu__fotoynombreperfil {
        color: white;
        flex-direction: column;
    }
}


/* MI BLOG */

.cuerpo4 {
    height: 1000px;
    margin: 0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cuerpo-4 {
    margin-top: 100px;
    color: black; 
}





.carousel-inner {
    height: 400px;
    width: 400px;
    display: flex;
    align-content: center;
}

