.cuerpo {
    height: 800px;
    margin: 0;
    color: black;

    .cuerpo1 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-top: 100px;

        .cuerpo__titulos {
            display:flex;
            flex-direction: column;
            margin-bottom: 5rem;
            align-items: center;
            justify-content: center;
           
            .cuerpo__titulo {
                display: flex;
                border: 5px solid #000000;
                background-color: #8f977194;
                font-size: 20px;
                padding: 4rem;
                grid-area: titulo;
                align-items: center;
                justify-content: center;
            }

            .cuerpo__titulo2 {
                display: flex;
                border: 5px solid #000000;
                font-size: 20px;
                background-color: #e5cfb6c7;
                padding: 3rem;
                grid-area: titulo2;
                align-items: center;
                justify-content: center;
            }
            
            .cuerpo__titulo3 {
                display: flex;
                border: 5px solid #000000;
                background-color: #e5cfb6c7;
                padding: 3rem;
                font-size: 20px;
                grid-area: titulo3;
                align-items: center;
                justify-content: center;
            }
            
            .cuerpo__titulo4 {
                display: flex;
                border: 5px solid #000000;
                background-color: #e5cfb6c7;
                padding: 3rem;
                font-size: 20px;
                grid-area: titulo4;
                align-items: center;
                justify-content: center;
            }
            
            .cuerpo__titulo5 {
                display: flex;
                border: 5px solid #000000;
                background-color: #8f977194;
                padding: 3rem;
                font-size: 20px;
                grid-area: titulo5;
                align-items: center;
                justify-content: center;
            }
        }
    
    }

}

