.cuerpo4 {
    height: 800px;
    margin: 0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .cuerpo-4 {
        display: flex;
        color: black; 
        
        h1 {
            
        }
    }

    .carousel-inner {
        height: 400px;
        width: 400px;
        display: flex;
        align-content: center;
        margin-bottom: 200px;
    }
}