.cuerpo {
    height: 800px;
    color:aliceblue;
    margin: 0;
    
    .cuerpo1 {
       display: flex;
       flex-direction: column;
       justify-items: center;
       align-items: center;
       margin-top: 100px;
       color:#000000;
 
       .cuerpo__titulos {
          display: grid;
          grid-template-areas:
          "titulo titulo titulo"
          "titulo2 titulo2 titulo4"
          "titulo3 titulo3 titulo4"
          "titulo5 titulo5 titulo5";
          grid-template-columns: 30vw 1fr 20vw;
          grid-template-rows: 20vh 200px 200px 20vh;
          
         $colores: (
             cuerpo__titulo: 'titulo-1',
             cuerpo__titulo2: 'titulo-2',
             cuerpo__titulo3: 'titulo-3',
             cuerpo__titulo4: 'titulo-4',
             cuerpo__titulo5: 'titulo-5',
         );
 
         @each $color in t1, t2, t3, t4, t5 {
             .cuerpo__titulo--#{$color} {
                 color:#{$color};
             }
         }
 
          .cuerpo__titulo--t1 {
             text-align: center;
             border: 5px solid #000000;
             background-color: #e5cfb6c7;
             font-size: 20px;
             padding: 4rem;
             grid-area: titulo;
         }
         
         
         
         .cuerpo__titulo2--t2 {
             border: 5px solid #000000;
             font-size: 20px;
             background-color: #e5cfb6c7;
             padding: 3rem;
             text-align: center;
             grid-area: titulo2;
          
         }
         
         .cuerpo__titulo3--t3 {
             border: 5px solid #000000;
             background-color: #e5cfb6c7;
             padding: 3rem;
             font-size: 20px;
             text-align: center;
             grid-area: titulo3;
            
         }
         
         .cuerpo__titulo4--t4 {
             border: 5px solid #000000;
             background-color: #e5cfb6c7;
             padding: 3rem;
             font-size: 20px;
             text-align: center;
             grid-area: titulo4;
             overflow: auto;
             
         }
         
         .cuerpo__titulo5--t5 { 
             border: 5px solid #000000;
             background-color: #e5cfb6c7;
             padding: 3rem;
             font-size: 20px;
             text-align: center;
             grid-area: titulo5;
         }
 
      }
   }
 
 }