.division {
    display: flex;
    margin: 0;
    height: 800px;

    .cuerpo {
    
        color:aliceblue;
        margin: 0;
        width: 1000vh;
    
        .cuerpo__sobremi {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            margin-top: 100px;
            color: black;
            padding: 2rem;
            


        }

    }

    .aside {
        width: auto;
        background-color: #000000d3;
        color: #d9d9d9;
        height: 800px;
        margin: 0;
        padding: 2rem;
    }
}