@media (min-width: 320px) and (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
        height: 25rem;
        justify-content: center;
        
    }


    .menu__fotoynombreperfil {
        display: flex;
        flex-direction: column;
    }

    .menu__fotoperfil {
        display: flex;
        margin-bottom: 2rem;
        margin-top: 0;
        
    }

    .menu__nombreperfil {
        display: none;
    }

    .menu__item {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }



    
    .cuerpo1 {
        display: flex;
        color:#000000d3;
        justify-content: center;
        margin-top: 100px;
    }

    .cuerpo__titulos {
        display: grid;
      

}

    h3 {
        display: flex;

    }  


    .piedepagina {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
 
    h4 {
        display: none;
    }

    .piedepagina__formulario {
        display: none;
    }
}



@media (min-width: 600px) and (max-width: 950px) { 
    .menu {
        display: flex;
        height: 15rem;
        justify-content: center;
        justify-content: space-around;
    }


    .menu__fotoynombreperfil {
        display: flex;
        flex-direction: column;

    }

    .menu__nombreperfil {
        color: #000000d3;
    }

    .menu__fotoperfil {
        display: flex;
        margin-bottom: 2rem;
        margin-top: 0;
        
    }

    .menu__item {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }

    .piedepagina {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }


    
    .logoyredes {
        display: flex;
        flex-direction: column;
        
    }

}

@media (min-width: 900px) and (max-width: 1500px) {
    
    .logoyredes {
        display: flex;
        
        justify-content: space-around;

    }

}

@media (min-width: 900px) and (max-width: 1150px) {
    
    .menu__fotoynombreperfil {
        display: flex;
        flex-direction: column;

    }
}


// PLANES ENTRENAMIENTO

@media (min-width: 300px) and (max-width: 1000px) {
    .cuerpo3 {
       height: auto;
    }


    .cuerpo__seccionplanes {
        
    }

    .cuerpo__seccionlista {
        display: flex;
        flex-direction: column;  
    }
}

// SOBRE MI

@media (min-width: 300px) and (max-width: 1000px) {
    
    .division {

    }

}